#page-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 1000rem;
  text-align: left;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16rem;
  color: #26ff00;
  opacity: 0.9;
}
